.App {
  text-align: center;
}

.App-logo {
  margin-top: -100px; 
  height: 80vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Estilo para o texto de resposta */
.TextoResposta {
  color: white; /* Cor do texto */
  font-size: 12px; /* Ajuste o tamanho conforme necessário */
}

.Informe {
  margin-top: 100px; 
}

/* Estilo para o botão de Falar */
.BotaoFalar {

  background-color: black; /* Cor de fundo do botão */
  color: white; /* Cor do texto do botão */
  padding: 10px 20px; /* Ajuste o preenchimento conforme necessário */
  font-size: 16px; /* Ajuste o tamanho conforme necessário */
  margin-top: 20px; /* Adicione margem conforme necessário */
  cursor: pointer;
  border: 1px solid #14667c; 
  border-radius: 5px;
  display: inline-block;
}